.modalUnderlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  z-index: 100;
}
.modalUnderlayOpened {
  opacity: 1;
  pointer-events: all;
}

.listMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  z-index: 10;
  background-color: white;
  color: black;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
  padding: 16px;
  border-radius: 16px;
  z-index: 101;
}

.listMenuClose {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: none;
  background: url(/icons/close.svg);
  background-size: contain;
}

.listMenuOpened {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.listMenuTitle {
  position: relative;
  text-align: center;
}

.listMenuOptionsGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 8px 0;
}

.listMenuButton {
  background: transparent;
  border: none;
  border-radius: 32px;
  font-size: 14px;
}

.listMenuButtonOptions {
  padding: 6px 12px;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.listMenuButtonOptionsActive {
  background-color: var(--color-blue);
  color: white;
}

.listMenuButtonRemove {
  margin-top: 16px;
  width: 100%;
  background-color: var(--color-red);
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 16px;
}
