.form {
  position: relative;
}

.input {
  width: 100%;
  padding: 16px 72px 16px 16px;
  background-color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  outline-color: var(--color-blue);
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.submit {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 8px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  background: transparent;
  color: rgba(0, 0, 0, 0.2);
  outline-color: var(--color-blue);
  border: none;
  border-radius: var(--border-radius);
  transition: all 0.15s ease-in-out;
}

.submitActive {
  background-color: var(--color-blue);
  color: white;
}
